<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <span><img style="width: 200px;" alt="logo" [src]="logUrl"></span>
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a routerLinkActive="active" routerLink="activity" class="list-group-item list-group-item-action py-2 ripple"
          aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Activity</span>
        </a>
        <a routerLinkActive="active" routerLink="place-an-order"
          class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>place an order</span>
        </a>
        <a routerLinkActive="active" routerLink="dealer-list"
          class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>Dealear List</span>
        </a>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <div class="container position-sticky" style="margin-left: 230px;width: 1090px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" style="font-family: cursive;">Zonar Level dashboard</a>
      <span><a routerLinkActive="active" routerLink="login">Login</a></span>
      <span><a routerLinkActive="active" routerLink="registaion">Registaion</a></span>
      <span><a routerLinkActive="active" routerLink="home">log-out</a></span>
      <div style="padding-left: 450px;">
        <div class="rounded-circle border d-flex justify-content-center align-items-center"
          style="width:40px;height:40px;" alt="Avatar">
          <i class="fa-solid fa-user"></i>
        </div>
      </div>
    </nav>
  </div>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 58px;">
  <div class="container pt-4">

  </div>
</main>

<router-outlet></router-outlet>