<div class="card mb-3" style="max-width: 540px;text-decoration-color: aliceblue;margin-left: 250px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8" style="font-family: cursive;background-color: rgb(186, 186, 227);">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <div>
                    <form>
                        <label>Email</label>
                        <input class="form-control" type="text" name="email" [(ngModel)]="email" placeholder="Email"/>
                        <label>Passworsd</label>
                        <input class="form-control" type="text" name="password" [(ngModel)]="password" placeholder="Password"/>
                        <!-- <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            accept terms and conditions
                        </label> -->
                        <div>
                            <button class="btn btn-primary loginBtnStyle" (click)="login()">Login</button>
                        </div>
                        <div>
                            <span>you don't have account please?<a style="color: rgb(239, 93, 93);" [routerLink]="['/registaion']">Register</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>